<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
    <meta name="description" content="<%= (page.description||config.description) %>">
    <% var _tags=[]; if(page.tags){page.tags.map(function(tag){_tags.push(tag.name);})} %>
    <meta name="keywords" content="<%= (_tags.join(",")||config.keyword) %>">
    <meta name="theme-color" content="#600090">
    <meta name="msapplication-navbutton-color" content="#600090">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#600090">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="shortcut icon" href="<%- config.favicon || 'https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png' %>">
    <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="/atom.xml">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css">
    <title>
        <% if (page.title) { %>
        <%= page.title + '｜' + config.SEOTitle %>
        <% } else{ %>
        <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path || '').replace('index.html', '') %>">

    <!-- Bootstrap Core CSS -->
    <!--<%- css('css/bootstrap.min.css') %>-->
    <link rel="stylesheet" href="http://ofn9sc7gl.bkt.clouddn.com/bootstrap.min.css"></link>

    <!-- Custom CSS -->
    <!--<%- css('css/blog-style.css') %>-->
    <link rel="stylesheet" href="http://ofn9sc7gl.bkt.clouddn.com/blog-style.css"></link>

    <!-- Pygments Github CSS -->
    <!--<%- css('css/syntax') %>-->

    <!-- 代码高亮 CSS -->
    <link rel="stylesheet" href="http://ofn9sc7gl.bkt.clouddn.com/github.css">
</head>
